/* font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif; */
body {
    background-color: #E0F2E9;
}

.header {
    text-align: center;
    height: 300px;
}

.header>img {
    height: 300px;
}

.header > video {
    height: 300px;
    display: none;
}

h1,
h2 {
    font-family: 'Merriweather', serif;
    text-align: center;
    
}

h1 {
    font-size: 6em;
    color: #5C6E70;
}

h2 {
    font-size: 4em;
    color:#333132;
}

div {
    text-align: center;
}

div.menu {
    background-color: #333132;
    color: #E0F2E9;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 1px;
}

a {
    color: #8EC5C6;
    text-decoration: none;
}

a:active {
    color: #CEB5A7;
}

a:hover {
    color: #E0F2E9;
}

a>i {
    color: #CEB5A7;
}

.sm {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #CEB5A7;
    font-size: 1.7em;
    background-color: #5C6E70;
    height: 100px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

a.sm:hover {
    color: #CEB5A7;
}

.circular--portrait {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

div > form {
    padding: 25px;
    text-align: left;
}

div form input,
div form textarea {
    width: 100%;
}

input[type="submit"]{
    text-align: center;
    width: 40%;
}

p.desc {
    font-family: 'Merriweather', serif;
    font-size: 18pt;
}

@media screen and (min-width: 679px) {
    .bx {
        border-right: 2px solid #E0F2E9;
    }

    .header > video {
        display: inline;
    }

    .header > img {
        display: none;
    }

    .sm {
        font-size: 1.3em;
    }

    .insta::after{
        content:'Instagram';
    }

    .pinterest::after{
        content:'Pinterest';
    }

    .twitter::after{
        content:'Twitter';
    }

    .vsco::after{
        content:'VSCO';
    }
}
